.navbar-brand {
    font-size: 22px;
}

.chartjs-render-monitor {
    display: block;
    background-color: #eee;
    border-width: 2px;
    border-style: solid;
    border-color: #aaa;
    border-radius: 5px;
}

.chart-background {
    padding: 5px;
}

.options-container {
    /*background-color: rgb(245, 245, 245);*/
    border-color: #aaa;
    border-radius: 5px;
    padding: 5px;
}

.slider {
    width: 100% !important;
}

div.slider-selection {
    background: #BABABA;
}

#network_setup {
    margin-top: 20px;
}

i.fa-lock {
    color: #5cb85c;
}

i.unlock {
    color: #616161;
}

span.badge {
    color: #aaa;
    border: solid 1px;
    background-color: #fff;
}

i.good-signal {
    color: #5cb85c;
}

i.better-signal {
    color: #f0ad4e;
}

i.bad-signal {
    color: #d9534f;
}

span.list-item-text {
    padding-left: 10px;
}

#enable_AP_label {
    text-align: right;
}

.vert-offset-top-1 {
    margin-top: 1em;
}

/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/

.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 15px 15px 80px;
}

/*Left*/

.modal.left.fade .modal-dialog {
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog {
    left: 0;
}

/*Right*/

.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

/* ----- MODAL STYLE ----- */

.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #FAFAFA;
}
