<div class="modal fade" id="modal-AP-setup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span>
                        </button>
                <h4 class="modal-title" id="exampleModalLabel"><i class="fa fa-wifi" aria-hidden="true"></i> Настройка точки доступа WIFI</h4>
            </div>
            <div class="modal-body">
                <form class="well form-horizontal" action=" " method="post" id="AP_form">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-6">Включить</label>
                            <div class="col-md-6">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input enabler">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6 control-label">SSID</label>
                            <div class="col-md-6 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-id-card" aria-hidden="true"></i></span>
                                    <input name="AP_SSID" placeholder="SSID" class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6 control-label">IP-адресс</label>
                            <div class="col-md-6 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><b>IP</b></span>
                                    <input name="AP_IP" placeholder="IP-адрес" class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6 control-label">Маска подсети</label>
                            <div class="col-md-6 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><b>IP</b></span>
                                    <input name="netmask" value="255.255.255.0" type="text" class="form-control form-control-plaintext" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-7 col-md-offset-4 btn-group mr-2" role="group">
                                <button class="btn btn-danger"><i class="fa fa-file" aria-hidden="true"></i> Сброс</button>
                                <button type="submit" class="btn btn-success"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Применить</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
