<div class="modal fade right" id="modal-STA-setup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-full-height modal-right" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span>
                        </button>
                <h4 class="modal-title" id="exampleModalLabel"><i class="fa fa-link" aria-hidden="true"></i> Настройка подключения</h4>
            </div>
        </div>
    </div>
</div>
