<div class="modal fade" id="modal-voltage-setup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel"><i class="fa fa-flash" aria-hidden="true"></i> Установка напряжения</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-7">
                        <form class="well form-horizontal" action=" " method="post" id="voltage_form">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-md-6 control-label">Выходное напряжение</label>
                                    <div class="col-md-6 inputGroupContainer">
                                        <div class="input-group">
                                            <a href="#" class="input-group-addon" id="min_voltage">3.5</a>
                                            <input id="voltageSlider" data-slider-id='ex1Slider' type="text" data-slider-min="3.5" data-slider-max="11.5" data-slider-step="0.1" />
                                            <a href="#" class="input-group-addon" id="max_voltage">11.8</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-6 control-label">Калибровка контроллера выходного напряжения</label>
                                    <div class="col-md-6 inputGroupContainer">
                                        <div class="input-group">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-warning" id="StartCalibration"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="col-md-5">
                        <canvas class="chartjs-render-monitor" id="voltage_monitor"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
